/* simple styles for  +/- links */

.expand_link {
	display: inline-block;
	vertical-align: middle;
	margin-left: 8px;
}

.expand_link a {
	height: 24px;
	line-height: 24px;
}

.expand_link a::before {
	content: "\f347";
	display: inline-block;
	font-family: dashicons;
}

.expand_link a.minus::before {
	content: "\f343";
}
