/* simple styles for  +/- links */

.expand_link {
	display: inline-block;
	vertical-align: top;
	margin: -2px 0 0 10px;
}

.wp-core-ui .expand_link a.button {
	height: 24px;
	line-height: 24px;
	padding: 0 6px;
	box-shadow: none;
}

.expand_link a::before {
	content: "\f347";
	display: inline-block;
	font-family: dashicons;
}

.expand_link a.minus::before {
	content: "\f343";
}
